<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <section
            name="flagCalculator"
            type="DustInTheWind.FlagCalculator.Business.ConfigurationModel.FlagCalculatorSection, FlagCalculator"
            allowDefinition="Everywhere"
            allowExeDefinition="MachineToApplication"/>
    </configSections>

    <flagCalculator>
        <enumTypes>
            <!--<add value="DustInTheWind.ExampleData.HousePart, DustInTheWind.ExampleData"/>
            <add value="DustInTheWind.ExampleData.BasicEnums.ULongEnum, DustInTheWind.ExampleData"/>-->
        </enumTypes>
    </flagCalculator>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

</configuration>
