<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
        <add key="enumTypeName" value="DustInTheWind.SomeData.FlagsEnum, DustInTheWind.SomeData"/>
        <!--<add key="enumTypeName" value="DustInTheWind.SomeData.NormalEnum, DustInTheWind.SomeData"/>-->
        <!--<add key="enumTypeName" value="DustInTheWind.SomeData.InternalClass, DustInTheWind.SomeData"/>-->
        <!--<add key="enumTypeName" value="DustInTheWind.SomeData.PublicClass, DustInTheWind.SomeData"/>-->
    </appSettings>
    
</configuration>