<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

    <configSections>
        <section name="flagCalculator" type="DustInTheWind.FlagCalculator.Business.ConfigurationModel.FlagCalculatorSection, DustIntheWind.FlagCalculator"/>
    </configSections>

    <appSettings>
        <!--<add key="enumTypeName" value="DustInTheWind.ExampleData.BasicEnums.ULongEnum, DustInTheWind.ExampleData"/>-->
        <!--<add key="enumTypeName" value="DustInTheWind.ExampleData.HousePart, DustInTheWind.ExampleData"/>-->
    </appSettings>

    <flagCalculator>
        <enumTypes>
            <enumType>DustInTheWind.ExampleData.BasicEnums.ULongEnum, DustInTheWind.ExampleData</enumType>
            <enumType>DustInTheWind.ExampleData.HousePart, DustInTheWind.ExampleData</enumType>
        </enumTypes>
    </flagCalculator>

</configuration>
